@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@import "normalize.css";
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

#root {
  font-family: "Roboto";
}

a {
  all: unset;
}

a:hover {
  cursor: grab;
}
